@media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
    #main{
        margin: 0;
    }
    #img-caption{
        font-size:1.4rem;
    }
  }
html{
    font-size:10px;
    text-align: center;
    line-height: 1.5;
    margin:0;
    overflow: auto;
    overflow-x: hidden;
    max-width:100%;
    
}
#main{
    text-align: center;
    line-height: 1.5;
    margin:0;
}
#cab{
    text-align: center;
    place-content: 25px;
    padding:25px;
    font-family: "Alex Brush",sans-serif;
    font-size: 4rem;
}
#title{
    font-family:"Playfair Display",sans-serif;
    font-size:8rem;
}
img {
    max-width:100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #img-div {
    background: white;
    max-height: 100%;
    margin: 0;
    max-width: 100%;
  }
  
  #img-caption {
    margin: 15px 0 5px 0;
  }
  
  




#tribute-info{
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family:"Playfair Display",sans-serif;
    background:#170D06;
    color:whitesmoke;

}
#tribute-title{
    font-size: 1.4rem;
    text-decoration: underline;

}
ul{
  max-width: 225px;
  margin: 0 auto 50px auto;
  text-align: center;
  line-height: 1.8;
  padding: 25px;
}

  

cite{
    font-family: "Alex Brush", sans-serif;
    font:bold;
}

#footer{
    line-height: 1.6px;
    font-size:1.4rem;
    font-family: "Alex Brush", sans-serif;

}
footer{
    font-family: "Playfair Display",sans-serif;
    font-size:1rem;
}